.dropdown select {
  width: 120px;
  height: 30px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--color-neutral);
  font-size: 14px;
  appearance: none;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill='black' d='M0 0l6 8 6-8H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 12px;
}

.dropdown {
  position: relative;
}

.dropdown select:focus {
  outline: none;
  border-color: var(--color-disabled-border);
}
