.custom-datepicker {
  width: 132px;
  height: 34px;
  background-color: var(--color-primary);
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;           /* Centrado vertical */
  justify-content: space-between;
  padding: 0 2px;
  box-sizing: border-box;
  font-family: var(--body-2);
  color:var(--color-secondary);

}

.custom-datepicker input {
  height: 100%;
  line-height: 34px;            /* Centrado vertical del texto */
  border: none;
  background: transparent;
  padding: 0 4px;
  font-size: 14px;
  width: calc(100% - 28px - 8px);
  cursor: pointer;
}

.custom-datepicker input:focus {
  outline: none;
}

.custom-datepicker button {
  height: 24px;
  width: 24px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.custom-datepicker .icon-calendar {
  width: 20px;
  height: 15px;
}
/* Fondo del calendario */
.custom-calendar-panel .mat-calendar {
  background-color: #1976d2 !important; /* Cambia aquí al color que quieras */
}






