.input-container {
  width: 100%;
}

input.form-input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s;
}

input.form-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 6px rgba(245,183,0,0.3);
}
