.personal-panel {
  background-color: var(--color-primary);
  border-radius: 0;
  padding: calc(var(--space-vertical) * 4);
  width: 390px;
  height: 100vh; /* ocupa toda la pantalla */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* esto empuja el footer abajo */
  box-sizing: border-box;
  font-family: var(--font-family-base);
  user-select: text;
}

/* ===========================
   ESTILOS DE ENLACES
=========================== */
.link {
  text-decoration: none;
  color: var(--color-secondary);
  font: var(--body-1);
  opacity: 0.9;
  transition: color 0.2s, transform 0.2s;
  cursor: pointer;
  display: block;
  user-select: text;
}

.link:hover {
  color: var(--color-secondary);
  transform: translateX(5px);
}

/* TÍTULO */
.title {
  font: var(--headline-1);
  font-weight: 700;
  margin-bottom: calc(var(--space-vertical) / 1.5);
  opacity: 1;
}


/* FOOTER */
.footer-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-vertical-sm);
}

.body-footer {
  font: var(--headline-3);
}

.body-footer2 {
  font: var(--body-2);
}
