.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.switch input{
  opacity:0;
  width: 0;
  height: 0;
}
.slider{
  position:absolute;
  cursor: pointer;
  background-color: var(--color-neutral);
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider::before {
  transform: translateX(16px);
}
