.hotel-card-container {
  width: 100%;
  max-width: 1000px;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-item {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
}

.hotel-email {
  color: var(--color-secondary);
  margin-bottom: 10px;
}

.hotel-rating {
  font-size: 1.4rem;
  margin-bottom: 10px;
}


