.busqueda-layout {
  background:#FDBE02;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.campo-busqueda {
  box-sizing: border-box;
  background: #FFFFFF;
  gap: 20px;
  border: 2px #767676;
  color : #767676;
  border-radius: 10px;
  width: 40%;
  max-width: 390px;
  height: 25px;
  max-height: 25px;
  text-align: left;
  padding-left: 10px;
  padding-top: 2px;
  font-family: 'Inter';
  font-size: 16px;
}
.atoms-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

