.text-label {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: var(--color-secondary);
  line-height: 14px;
  display: flex;
  align-items: center;
  font-family: var(--font-family-base);
}

